db.sqlite3
node_modules
*pyc
pair/static/js/controller.js
pair/static/js/pairing.js
pair/static/js/settings.js
pair/static/js/standings.js
pair/static/js/start.js
pair/static/js/context.js
pair/static/js/main.js
pair/static/js/context.js
pair/static/js/autocomplete.js
