{% extends "base.html" %}

{% block body %}
  <div class='container-fluid'>
   <h2>Start new tournament</h2>
    <div id='root'>
       {% if message %}
       <p>{{ message }}</p>
       {% endif %}
       <form method="POST" enctype="multipart/form-data">
         {% csrf_token %}
         {{ form.as_p }}
         <button class="btn btn-primary" name="submit" value="import">Submit</button>
       </form>
    </div>
  </div>
{% endblock %}

{% block js %}

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
{% endblock %}
