{% extends "base.html" %}

{% block body %}
  <div class='container-fluid'>
   <h2>Start new tournament</h2>
    <div id='root'></div>
  </div>
{% endblock %}

{% block js %}
  <script  src="/static/js/context.js"></script>
  <script  src="/static/js/autocomplete.js"></script>
  <script  src="/static/js/settings.js"></script>
  <script  src="/static/js/start.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  
{% endblock %}
